---
import { Clock } from '../components/Clock';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro Clock">
  <header class="w-screen text-center p-4">
    <h1 class="text-xl">
      Welcome to <code>Astro Clock</code>
    </h1>
  </header>
	<main class="flex items-center justify-center mt-24">
    <Clock client:only="react" />
	</main>
</Layout>
